
{% extends "layout.html" %}
{% block body %}
<div class="col-md-5">
    <!-- esta seccion se utiliza para mostrar los errores a traves de flash siempre y cuando existan errores -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}

    <div class="custom-alert" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- Se termina la seccion de errores -->

</div>
<a class="nav-button" href="/equipo">Volver</a>
<table id="posts">
            <thead>
                <tr>
                    <td>Cod. inventario</td>
                    <td>Num. serie</td>
                    <td>Observacion</td>
                    <td>Funcionario</td>
                    <td>Codigo Proveedor</td>
                    <td>Mac</td>
                    <td>Imei</td>
                    <td>Numero de Telefono</td>
                    <td>Tipo equipo</td>
                    <td>Estado equipo</td>
                    <td>Unidad</td>
                    <td>Nombre orden compra</td>
                    <td>Modelo</td>
                </tr>
            </thead>
            <tbody id="">
                <!-- Se inicia iteracion for para mostrar todos los proveedores -->
                <tr>
                    <td>{{equipo.Cod_inventarioEquipo}}</td>
                    <td>{{equipo.Num_serieEquipo}}</td>
                    <td>{{equipo.ObservacionEquipo}}</td>
                    <td>{{equipo.nombreFuncionario}}</td>
                    <td>{{equipo.codigoproveedor_equipo}}</td>
                    <td>{{equipo.macEquipo}}</td>
                    <td>{{equipo.imeiEquipo}}</td>
                    <td>{{equipo.numerotelefonicoEquipo}}</td>
                    <td>{{equipo.nombreTipo_equipo}}</td>
                    <td>{{equipo.nombreEstado_equipo}}</td>
                    <td>{{equipo.nombreUnidad}}</td>
                    <td>{{equipo.nombreOrden_compra}}</td>
                    <td>{{equipo.nombreModeloequipo}}</td>
                </tr>
            </tbody>
        </table>
<div>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Añadiendo una Incidencia un Equipo</h2>
        <div class="card card-body" id="formulario" style="display: bloc;">
            <form action="/incidencia/add_incidencia" method="POST" class="mi-formulario">
                <div class="form-group">
                    <label for="nombreIncidencia">Nombre Incidencia:</label>
                    <input type="text" class="form-control" name="nombreIncidencia" placeholder="Nombre Incidencia">
                    <br>
                    <label for="observacionIncidencia">Observacion: </label>
                    <textarea id="observacionIncidencia" name="observacionIncidencia" rows="2" cols="50"></textarea>
                    <br>
                    <label for="fechaIncidencia">Fecha Incidencia: </label>
                    <input type="date" class="form-control" name="fechaIncidencia", id="inputFecha">
                    <br>
                    <input style="display: none;" value="{{equipo.idEquipo}}" name="idEquipo" />
                    {# se nesesita una forma eficiente de añadir el equipo#}
                    <button class="agregar-button"> Agregar</button>
                </div>
            </form>
            <script>
                fechaPorDefecto()
            </script>
        </div>

        {% endblock %}