

<div class="card card-body" id="formulario" style="display: none;">
            <form action="/add_asignacion" method="POST" class="mi-formulario">
                <div class="form-group">

                    <div>
                        <label for="fechaInicio"> Fecha de Inicio:</label>
                        <input type="date" name="fechaInicio" id="fechaInicio">
                         <script>
                            date = new Date();
                            year = date.getFullYear();
                            month = date.getMonth() + 1;
                            day = date.getDate();
                            if (month < 10) {
                                month = "0" + month
                            }
                            formatedDate = year + "-" + month + "-" + day
                            //console.log(formatedDate)
                            document.getElementById("fechaInicio")
                                .setAttribute("value", formatedDate);
                        </script>
                    </div>
                    <br> 
                    <div>
                        <label>Observaciones</label>
                        <textarea id="observacionDevolucion" name="observacionDevolucion" rows="4" cols="50"></textarea>
                    </div>
                    <br>
                    <div class="info-button">Acta</div>
                    <label>Funcionario</label>
                    <select name="nombre_tipo_equipo" id="">
                        <option value="">Seleccione el funcionario</option>
                        {% for f in funcionarios %}
                        <option value="{{ f.nombreFuncionario }}">{{f.nombreFuncionario}}</option>
                        {% endfor %}
                    </select>
                    <!--
                        {# seleccionar funcionario#}
                    <div class="dropdown">
                    <label>Funcionario</label>
                        <div onclick="myFunction('funcionarioDropdown', 'funcionarioInput')" class="dropbtn">Dropdown</div>
                        <div id="funcionarioDropdown" class="dropdown-content">
                            <input type="text" placeholder="Search.." id="funcionarioInput"
                                onkeyup="filterFunction('funcionarioDropdown', 'funcionarioInput')">
                            {% for f in funcionarios %}
                            <a href="#about">{{f.nombreFuncionario}}</a>

                            {% endfor %}

                        </div>

                    </div>
                -->
                    <br />
                    <br />
                    <br />
                    <br />
                    <button class="agregar-button" type="submit"> Agregar</button>
                </div>
            </form>


        </div>