
{% extends "layout.html" %}
{% block body %}
<a class="nav-button" href="/asignacion">Volver</a>
<button class="nav-button" onclick="showDiv()">Agregar</button>
<div class="card card-body" id="formulario" style="display: none;">
            <form action="/asignacion/create_asignacion" method="POST" class="mi-formulario">
                <div class="form-group">
                    <div>
                        <label for="fechaasignacion"> Fecha de Inicio:</label>
                        <input type="date" name="fechaasignacion" id="fechaasignacion">
                         <script>
                            date = new Date();
                            year = date.getFullYear();
                            month = date.getMonth() + 1;
                            day = date.getDate();
                            if (month < 10) {
                                month = "0" + month
                            }
                            formatedDate = year + "-" + month + "-" + day
                            //console.log(formatedDate)
                            document.getElementById("fechaasignacion")
                                .setAttribute("value", formatedDate);
                        </script>
                    </div>
                    <br> 
                    <div>
                        <label>Observaciones</label>
                        <textarea id="observacion" name="observacion" rows="4" cols="50"></textarea>
                    </div>
                    <br>
                    <label>Funcionario</label>
                    <select name="rut" id="">
                        <option value="">Seleccione el funcionario</option>
                        {% for f in funcionarios %}
                        <option value="{{ f.rutFuncionario }}">{{f.nombreFuncionario}}</option>
                        {% endfor %}
                    </select>
                    <button class="agregar-button" type="submit"> Agregar</button>
                </div>
        </div>
<h2>Crear Asignacion</h2>
    <div style="position: relative;">
        <!--  <a href="/agregarmarca.html" class="agregar-button" style="position: absolute; top: 0; right: 0;">Agregar Marca de Equipo</a>    -->
        <div style="overflow-x:auto;">


            <table id="posts">
                <thead>
                    <tr>

                        <td>Tipo Equipo</td>
                        <td>Codigo Inventario</td>
                        <td>N° Serie</td>
                        <td>Modelo</td>
                        <td>Estado Equipo</td>
                        <td>Codigo Proovedor</td>
                        <td>Unidad</td>
                        <td>Botones</td>
                    </tr>
                </thead>
                <tbody>
                    {% for eq in equipos %}
                    <tr>
                        <td>{{eq.nombreidTipoequipo}}</td>
                        <td>{{eq.Cod_inventarioEquipo}}</td>
                        <td>{{eq.Num_serieEquipo}}</td>
                        <td>{{eq.nombreModeloequipo}}</td>
                        <td>{{eq.nombreEstado_equipo}}</td>
                        <td>{{eq.codigoproveedor_equipo }}</td>
                        {# hacer inner join con unidad para obtener nombreUnidad#}
                        <td>{{eq.nombreUnidad}}</td>
                        <td>
                            Asignar: 
                            <input type="checkbox" 
                            value="{{eq.idEquipo}}" 
                            name="asignaciones[]" />
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </form>
            {% endblock %}