{% extends "layout.html" %}
{% block body %}
<div class="row">

    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="custom-alert" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
        {#
        En el else existe un boton que al presionarse la variable agreagar pasa a verdadero
        y se muestra el formulario para agregar un item.
        #}
        {% if agregar %}
        <div class="card card-body">
            <form action="/add_asignacion" method="POST">
                <div class="form-group col-md-5">
                    {# select con busqueda #}
                    <div class="dropdown">
                    <label>Tipo de Equipo</label>
                        <div onclick="myFunction()" class="dropbtn">Dropdown</div>
                        <div id="myDropdown" class="dropdown-content">
                            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                            {% for tipo in tiposEquipos %}
                            <a href="#about">{{tipo.nombreidTipoequipo}}</a>

                            {% endfor %}

                        </div>
                        <script>
                           //myFunction llama el filtro para que solo 
                           //se llamen los primeros dos para que la lista no sea inmensa y muestra la "dropdown"
                            function myFunction(elementId = "myDropdown", inputId = "myInput") {

                                filterFunction(elementId, inputId);
                                document.getElementById(elementId).classList.toggle("show");
                            }

                            function filterFunction(elementId = "myDropdown", inputId = "myInput") {
                                var input, filter, ul, li, a, i;
                                input = document.getElementById(inputId);
                                filter = input.value.toUpperCase();
                                div = document.getElementById(elementId);
                                a = div.getElementsByTagName("a");
                                let count = 0
                                for (i = 0; i < a.length; i++) {
                                    txtValue = a[i].textContent || a[i].innerText;
                                    if (txtValue.toUpperCase().indexOf(filter) > -1 && count < 2) {
                                        a[i].style.display = "";
                                        count++;
                                    } else {
                                        a[i].style.display = "none";
                                    }
                                }
                            }
                        </script>

                    </div>
                    <label for="fechaInicio"> Fecha de Inicio: </label>
                    <input type="date" name="fechaDevolucion">
                    <br>
                    <div class="rows">
                    <label>Observaciones</label>
                    <textarea id="observacionDevolucion" name="observacionDevolucion" rows="4" cols="50"></textarea>
                    </div>
                    <br>
                    <div class="info-button">Acta</div>

                    {# seleccionar funcionario#}
                    <div class="dropdown">
                    <label>Funcionario</label>
                        <div onclick="myFunction('funcionarioDropdown', 'funcionarioInput')" class="dropbtn">Dropdown</div>
                        <div id="funcionarioDropdown" class="dropdown-content">
                            <input type="text" placeholder="Search.." id="funcionarioInput"
                                onkeyup="filterFunction('funcionarioDropdown', 'funcionarioInput')">
                            {% for f in funcionarios %}
                            <a href="#about">{{f.nombreFuncionario}}</a>

                            {% endfor %}

                        </div>

                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <button class="agregar-button" type="submit"> Agregar</button>
                </div>
            </form>


        </div>
        {% else %}
        <a href="/try_add_asignacion" class="info-button">Agregar</a>
        {% endif %}


    </div>
    <h2>Asignaciones</h2>
    <div style="position: relative;">
        <!--  <a href="/agregarmarca.html" class="agregar-button" style="position: absolute; top: 0; right: 0;">Agregar Marca de Equipo</a>    -->
        <div style="overflow-x:auto;">


            <table id="posts">
                <thead>
                    <tr>

                        <td>NombreTipoEquipo
                            <br />
                            <a href="/asignacion/ASC" class="text-sort">ASC</a>
                            <a href="/asignacion/DESC" class="text-sort">DESC</a>
                        </td>
                        <td>Fecha Inicio</td>
                        <td>Observacion</td>
                        <td>Acta</td>
                        <td>nombreFuncionario</td>
                        <td>fechaDevolucion</td>
                        <td>Botones</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- Se inicia iteracion for para mostrar todos los proveedores que almacena cada uno en pro que recorre provincia -->
                    {% for asig in asignacion %}
                    <tr>
                        <!-- en el siguiente <td> se seleccionara el atributo que queremos mostrar en pantalla indicando el indice del nombre del proveedor en este caso -->
                        <td>{{asig.nombreidTipoequipo}}</td>
                        <td>{{asig.fecha_inicioAsignacion}}</td>
                        <td>{{asig.observacionAsignacion}}</td>
                        <td>{{asig.rutaactaAsignacion}}</td>
                        <td>{{asig.nombreFuncionario}}</td>
                        <td>{{asig.fechaDevolucion}}</td>
                        <td>
                            <!-- se indica la ruta de la funcion editar y agregando el id a traves de del indice proveedor.0 -->
                            <a href="/asignacion/edit_asignacion/{{asignacion.idAsignacion}}"
                                class="success-button">Editar</a>
                            <!-- en la class "btn-delete" se utilizara para la confirmacion de eliminacion del proveedor segun su id proveedor.0  -->
                            <a href="/asignacion/asignacion/{{asignacion.idAsignacion}}"
                                class="delete-button">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <!-- Se termina la iteracion for -->
                </tbody>
            </table>
            {% endblock %}