{% extends "layout.html" %}
{% block body %}
<div class="nav-search">
    <input name="busqueda" type="text" class="search-query" placeholder="Search..." style="font-size: 30px"
        value="{{busqueda}}" id="buscador" onkeyup="busqueda()">
</div>
<table id="posts">
    <thead>
        <tr>
            <td>Clave</td>
            <td>Nombre</td>
            <td>Botones</td>
        </tr>
    </thead>
    <tbody id="myTBody">
        {% for item in items %}
        <tr id="{{item.id}}">
            <td id="clave">{{item.clave}}</td>
            <td id="nombre">{{item.nombre}}</td>
            <td>
                {% if item.tipo == "equipo" %}
                <a href="/equipo/buscar_equipo/{{item.id}}" class="nav-button2">Buscar</a>
                {% endif %}
                {% if item.tipo == "funcionario" %}
                <a href="/funcionario/buscar_funcionario/{{item.id}}" class="nav-button2">Buscar</a>
                {% endif %}
                {% if item.tipo == "unidad" %}
                <a href="/unidad/buscar_unidad/{{item.id}}" class="nav-button2">Buscar</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<script>
    //buscar al iniciar la pagina
    busqueda()
</script>
{% endblock %}