{% extends "layout.html" %}
{% block body %}
{% from 'funciones_macro.html' import select_para_marca %}


<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card card-body" style="display: block;" id="formulario">

            <form action="/update_modelo_equipo/{{id}}" method="POST" class="mi-formulario">
                <div class="form-group">
                    <label for="nombre_modelo_equipo"> Modelo Equipo: </label>
                    <input type="text" name="nombre_modelo_equipo" placeholder="Modelo">
                </div>
                {#
                TODO: Al apretar el boton verde agregar se muestra un boton para seleccionar la marca
                Despues de seleccionar la marca se muestra el tipo de equipo y el boton gris de agregar.

                - modificar la tupla de marcas para que tenga como uno de sus objetos una tupla de tipos de equipo
                #}

                {#Usar una macro para crear por cada marca crear un select con el tipo y esconderlo #}
                <div class="form-group">
                    <div id="selector_marca">
                        <label for="nombre_marca_equipo"> Marca Equipo: </label>
                        <select name="nombre_marca_equipo" id="marca" onchange="mostrarTipo_para_agregar_modelo()">
                            <option value="">Elija la Marca del Equipo</option>
                            {% for marcae in marca_equipo %}
                            <option value="{{ marcae.idMarca_Equipo }}">{{marcae.nombreMarcaEquipo}}</option>
                            {% endfor %}
                        </select>
                        <br />
                    </div>
                    {% for marcae in marca_equipo %}
                    {{ select_para_marca(marcae) }}
                    {% endfor %}

                    <div id="selector_tipo_equipo" style="display: none;">
                        <input name="nombre_tipo_equipo" id="nombre_tipo_equipo" />
                    </div>
                </div>

                <button id="enviar" class="agregar-button" style="display: none;"> Agregar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}