{% extends "layout.html" %}
{% block body %}

<div class="card card-body" id="formulario" >
    <form action="/update_usuario/{{usuario.nombreUsuario}}" method="POST" class="mi-formulario">
        <div class="form-group">
            <label for="nombreUsuario">Nombre de Usuario</label>
            <input type="text" class="form-control" 
            name="nombreUsuario" placeholder="Nombre Usuario" value="{{usuario.nombreUsuario}}">
            <br>
            <label>Es Administrador</label>
            {% if usuario.privilegiosAdministrador == 1%}
            <input type="checkbox" class="form-control", 
            name="isAdmin" checked=""/>
            {% else %}
            <input type="checkbox" class="form-control", 
            name="isAdmin"/>
            {% endif %}
            <br/>
            <button class="agregar-button">Ingresar</button>
        </div>
    </form>
</div>
{% endblock %}