{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card card-body">

            <form action="/update_modelo_equipo/{{modelo_equipo.idModelo_Equipo}}" method="POST" class="mi-formulario">
                <div class="form-group">
                    <label for="nombre_modelo_equipo">Modelo Equipo: </label>
                    <input type="text" name="nombre_modelo_equipo" placeholder="Nombre modelo equipo"
                        value="{{modelo_equipo.nombreModeloequipo}}">
                </div>
                <div class="form-group">
                    <label for="nombre_marca_equipo">Marca Equipo: </label>
                    <select name="nombre_marca_equipo">
                        <option value="{{modelo_equipo.idMarca_Equipo}}">
                            {{modelo_equipo.nombreMarcaEquipo}}</option>
                        {% for marcae in marca_equipo %}
                        {% if marcae.idMarca_Equipo != modelo_equipo.idMarca_Equipo %}
                        <option value="{{ marcae.idMarca_Equipo }}">{{ marcae.nombreMarcaEquipo }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <br />
                    <label for="nombre_tipo_equipo"> Tipo de Equipo: </label>
                    <select name="nombre_tipo_equipo" id="">
                        <option value="{{modelo_equipo.idTipo_equipo}}">
                            {{modelo_equipo.nombreTipo_equipo}}</option>
                        {% for te in tipo_equipo %}
                            {#% if marcae.idTipo_equipo != modelo_equipo.idTipo_equipo %#}
                            <option value="{{ te.idTipo_equipo }}">{{te.nombreTipo_equipo}}</option>
                            {#% endif %#}
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="agregar-button"> Guardar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}