{% extends "layout.html" %}
{% block body %}
{% from 'funciones_macro.html' import paginacion %}

<div class="row">

    <div class="col-md-5">
        <!-- esta seccion se utiliza para mostrar los errores a traves de flash siempre y cuando existan errores -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="custom-alert" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Se termina la seccion de errores -->

        <!-- ----- -->
        {#<button class="nav-button" onclick="showDiv()">Agregar</button>#}
        <div class="card card-body" id="formulario" style="display: none;">
            <form action="/TODO" method="POST" class="mi-formulario">
                <div class="form-group">
                    <label for="nombreIncidencia">Nombre Incidencia:</label>
                    <input type="text" class="form-control" name="nombreIncidencia" placeholder="Nombre Incidencia">
                    <br>
                    <label for="observacionIncidencia">Observacion: </label>
                    <textarea id="observacionIncidencia" name="observacionIncidencia" rows="2" cols="50"></textarea>
                    <br>
                    <label for="fechaIncidencia">Fecha Incidencia: </label>
                    <input type="date" class="form-control" name="fechaIncidencia">
                    <br>
                    {# se nesesita una forma eficiente de añadir el equipo#}
                    <button class="agregar-button"> Agregar</button>
            </form>
        </div>
    </div>
    <br />
    <h2>Incidencias</h2>
    <div style="overflow-x:auto;">
        <table id="posts">
            <thead>
                <tr>
                    <td onclick="sortTable(0)">Nombre Incidencia</td>
                    <td onclick="sortTable(1)">Observacion Incidencia</td>
                    <td onclick="sortTable(2)">Acta</td>
                    <td onclick="sortTable(3)">FechaIncidencia</td>
                    <td onclick="sortTable(4)">Codigo Equipo</td>
                    <td onclick="sortTable(5)">N° Serie</td>
                    <td onclick="sortTable(6)">Nombre Equipo</td>
                    <td onclick="sortTable(7)">Nombre Funcionario</td>
                    <td>Operations</td>
                </tr>
            </thead>
            <tbody id="myTableBody">
                <!-- Se inicia iteracion for para mostrar todos los proveedores -->
                {% for incidencia in Incidencia %}
                <tr>
                    <td>{{incidencia.nombreIncidencia}}</td>
                    <td>{{incidencia.observacionIncidencia}}</td>
                    <td><a href="/TODO" class="info-button">Acta</a></td>
                    <td>{{incidencia.fechaIncidencia}}</td>
                    <td>{{incidencia.cod_inventarioEquipo}}</td>
                    <td>{{incidencia.Num_serieEquipo}}</td>
                    <td>{{incidencia.nombreidTipoequipo}}</td>
                    <td>TODO</td>
                    <td>
                        <a href="/TODO" class="success-button">Editar</a>
                        <a href="/TODO" class="delete-button">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ paginacion("incidencia", page, lastpage) }}
        {% endblock %}