{% extends "layout.html" %}
{% block body %}
{% from 'funciones_macro.html' import paginacion, subirArchivo, tablaDocumentos %}

<div class="row">

    <div class="col-md-5">
        <!-- esta seccion se utiliza para mostrar los errores a traves de flash siempre y cuando existan errores -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="custom-alert" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Se termina la seccion de errores -->

        <a class="nav-button" href="/incidencia">Volver</a>
        <!-- ----- -->
        {{ subirArchivo("incidencia", idIncidencia) }}
    </div>
    <br />
    <table id="posts">
        <thead>
            <tr>
                <td>Cod. inventario</td>
                <td>Num. serie</td>
                <td>Observacion</td>
                <td>Funcionario</td>
                <td>Codigo Proveedor</td>
                <td>Mac</td>
                <td>Imei</td>
                <td>Numero de Telefono</td>
                <td>Tipo equipo</td>
                <td>Estado equipo</td>
                <td>Unidad</td>
                <td>Nombre orden compra</td>
                <td>Modelo</td>
            </tr>
        </thead>
        <tbody id="">
            <!-- Se inicia iteracion for para mostrar todos los proveedores -->
            <tr>
                <td>{{equipo.Cod_inventarioEquipo}}</td>
                <td>{{equipo.Num_serieEquipo}}</td>
                <td>{{equipo.ObservacionEquipo}}</td>
                <td>{{equipo.nombreFuncionario}}</td>
                <td>{{equipo.codigoproveedor_equipo}}</td>
                <td>{{equipo.macEquipo}}</td>
                <td>{{equipo.imeiEquipo}}</td>
                <td>{{equipo.numerotelefonicoEquipo}}</td>
                <td>{{equipo.nombreTipo_equipo}}</td>
                <td>{{equipo.nombreEstado_equipo}}</td>
                <td>{{equipo.nombreUnidad}}</td>
                <td>{{equipo.nombreOrden_compra}}</td>
                <td>{{equipo.nombreModeloequipo}}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <h2>Documentos de Incidencia</h2>
        {{tablaDocumentos(idIncidencia, documentos, location)}}
        {% endblock %}