{% extends "layout.html" %}
{% block body %}
{% from 'funciones_macro.html' import paginacion %}

<div class="row">

    <div class="col-md-5">
        <!-- esta seccion se utiliza para mostrar los errores a traves de flash siempre y cuando existan errores -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="custom-alert" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Se termina la seccion de errores -->

        <!-- ----- -->
        <button class="nav-button" onclick="showDiv()">Agregar PDF</button>
        <div class="card card-body" id="formulario" style="display: none;">
            <form action="/incidencia/adjuntar_pdf/{{idIncidencia}}" method="POST" class="mi-formulario"
                    enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Añadir pdf</label>
                    <input type="file" name="file"/>
                    {# se nesesita una forma eficiente de añadir el equipo#}
                    <button class="agregar-button"> Agregar</button>
                </div>
            </form>
        </div>
    </div>
    <br />
    <h2>Documentos de Incidencia</h2>
    <div style="overflow-x:auto;">
        <table id="posts">
            <thead>
                <tr>
                    <td onclick="sortTable(0)">Nombre pdf</td>
                    <td>Operations</td>
                </tr>
            </thead>
            <tbody id="myTableBody">
                <!-- Se inicia iteracion for para mostrar todos los proveedores -->
                {% for documento in documentos %}
                <tr>
                    <td>{{documento}}</td>
                    <td>
                        <a href="/incidencia/mostrar_pdf/{{idIncidencia}}/{{documento}}"
                            class="info-button">Abrir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}